<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.duongthuhien.kltn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Minna.MinnaActivity"
            android:label="Giao tiếp cơ bản" />
        <activity
            android:name=".Tuvungyeuthich.TuvungyeuthichActivity"
            android:label="Từ vựng yêu thích" />
        <activity
            android:name=".ChuCai.HBCCActivity"
            android:label="Luyện tập" />
        <activity android:name=".ChuCai.BCCActivity" />
        <activity
            android:name=".ChuCai.DSBHActivity"
            android:label="Bảng chữ cái " />
        <activity
            android:name=".ChuCai.KetQuaHActivity"
            android:label="Kết quả" />
        <activity
            android:name=".MCCB.MCCBActivity"
            android:label="Mẫu câu cơ bản" />
        <activity
            android:name=".MCCB.Detail_MCCB_Activity"
            android:label="Mẫu câu cơ bản" />
        <activity
            android:name=".kanji.KanjiActivity"
            android:label="Kanji cơ bản" />
        <activity android:name=".TracNghiemActivity" />
        <activity android:name=".GhepTuActivity" />
        <activity
            android:name=".kanji.Kanji2Activity"
            android:label="Kanji cơ bản" />
        <activity android:name=".KetQuaActivity" />
        <activity
            android:name=".ChuCai.ChuCaiActivity"
            android:label="Bảng chữ cái" />
        <activity
            android:name=".CaiDat.CaiDatActivity"
            android:label="Cài đặt" />

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="com.example.duongthuhien.kltn.ALARM_RECEIVER" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".KetQuaGhepTuActivity"></activity>
    </application>

</manifest>